* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.header-nav{
    display: flex;
    flex-wrap: wrap;
}
.logo {
    text-align: center;
}
.logo, .nav-list{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 150px;
}
img {
    width: 220px;
}
.lista{
    min-width: 330px;
    display: flex;
    list-style: none;
    font-size: 1.3rem;
    justify-content: center;
}
.lista-item a {
    padding: 5px;
    text-decoration: none;
}
.lista-item a:hover {
    color: green;
}
.lista-item a:active{
    color: rgb(140, 0, 0);
}
.lista-item a::after {
    content: "  " ;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.c1, .c2, .c3, .c4, .c5, .c6 {
    width: 100%;
    min-width: 150px;
    height: 150px;
}
.c1{
    background-color: rgb(67, 121, 7);
}
.c2{
    background-color: rgb(87, 141, 27);
}
.c3{
    background-color: rgb(107, 161, 47);
}
.c4{
    background-color: rgb(127, 181, 67);
}
.c5{
    background-color: rgb(147, 201, 87);
}
.c6{
    background-color: rgb(167, 221, 107);
}